.modal-dialog.draggable
  .modal-content
    .modal-header
      %button#x-close(type="button" data-dismiss="modal" aria-hidden="true") x
      %h2.modal-title Events
    .modal-body
      %ul.fa-ul.errors
      = render 'form'

:coffeescript
  $ ->
    $('.draggable').draggable
      scroll: true
      cursor: 'crosshair'
