$('ul.errors').html('')
- if @event.errors.any?
  - @event.errors.full_messages.each do |message|
    $('ul.errors').append($('
    %li>
    ').html("#{message.html_safe}"))
- else
  $('#calendar').fullCalendar( 'refetchEvents' );
  $('#event-modal').modal('hide');
