.bootstrap-datetimepicker-widget {
  background-color: #00AEEF;
  color: black;
}

.day { border: black 1px solid; }

.day.active.today {
  background-color: white;
  color: black;
}

.picker-switch {
  background-color: black;

  .btn:hover {
    background-color: black;
  }
}
