html {
  position: relative;
  min-height: 100%;
}

body { margin-bottom: 60px; }

#header {
  height: 80px;
  min-width: 100%;
  background-color: #00AEEF;

  #create-event {
    padding-top: 15px; 
  }
}

.content { padding-top: 50px; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: white 1px solid;

  p {
    padding-top: 10px;
  }
}
