.modal-dialog { width: 400px; }

.errors li {
  font-weight: 700;
  color: red;
}

.modal-header {
  background-color: black;
  color: white;

  button#x-close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    margin-top: -2px;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    border: 0;
    background-color: black;

    &:hover,
    &:focus {
      color: #00AEEF;
      text-decoration: none;
      cursor: pointer;
    }
  }

  h2 {
    font-size: 1.2em;
  }
}

.modal-body { color: black; }

.modal-footer {
  display: inline-block;
  min-width: 100%;

  #hidden-delete {
    float: left;
  }

  .submit-right {
    float: right;
  }
}
