%p.text-center
  Copyright © 2014 Efren Aguirre - Do What the Fuck You Want to Public License.
  See
  = link_to 'wtfpl', 'http://www.wtfpl.net/', target: '_blank'
  for more details.
  = image_tag('wtfpl-badge-2.png')
