.col-md-6
  %p.text-left
    Copyright © 2014 - 2015 Efren Aguirre - Do What the Fuck You Want to Public License.
    See
    = link_to 'wtfpl', 'http://www.wtfpl.net/', target: '_blank'
    for more details.
    = image_tag('wtfpl-badge-2.png')

.col-md-6
  %p.text-right
    = link_to 'https://github.com/countxyz/rails-fullcal2-bs3', target: '_blank' do
      = icon('github', '', class: 'fa-3x')
